@import './Variables.scss';

/* shadows class */

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shadow-5 {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.shadow-6 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.shadow-7 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* color classes */

.t-blue {
  color: $blue;
}

.t-dark-blue {
  color: $dark-blue;
}

.t-footer-blue {
  color: $footer-blue;
}

.t-red {
  color: $red;
}

.t-white {
  color: $white;
}

.t-darken-white {
  color: $darken-white
}

.bg-blue {
  background-color: $blue;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-footer-blue {
  background-color: $footer-blue;
}

.bg-red {
  background-color: $red;
}

.bg-white {
  background-color: $white;
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer;
}

.text-input {
  line-height: 2.3em;
  background: #E6E6E6;
  border-radius: 5px;

  &::placeholder {
    color: gray;
  }
}

.pre-input {
  position: absolute;
  top: 6px;
  left: 6px;
}


